* {
    margin: auto;
}

h1 {
    padding: 3rem;
    text-align: center;
}

#gallery {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

img {
    border: 1px solid red;
    border-radius: 10px;
    height: 100px;
    margin: 1rem;
    padding: 0.1rem;
    transition: 0.5s;
    width: 100px;
}

.page-items:hover {
    cursor: pointer;
    opacity: 0.7;
}

p {
    padding: 2rem;
    text-align: center;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */

.modal-content {
    display: block;
    height: 80%;
    margin: auto;
    max-width: 700px;
    width: 80%;
}

/* Add Animation */

.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    cursor: pointer;
    text-decoration: none;
}