* {
    margin: auto;
}

h1 {
    text-align: center;
    padding: 3rem;    
}

#gallery {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

img {
    border: 1px solid red;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: 1rem;
    padding: 0.1rem;
}

p {
    padding: 2rem;
    text-align: center;
}